## HDCS Fall 22 internship project #2: Stage B Graded Quiz
ML Regression - Predicting Energy Efficiency of Buildings
### Author: Zakaria Jnayni
### Import the required libraries

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [75]:
df = pd.read_csv("/content/energydata_complete.csv", encoding = "latin-1")

In [8]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Question 1: 
The percent of the total variation of the dependent variable Y explained by the set of independent variables X is measured by
### Answer
Coefficient of Determination

### Question 2: 
How do you define a Residual?
### Answer
Y −  Y^

### Question 3: 
The straight line graph of the equation Y = a + BX, the slope is horizontal if
### Answer
b = 0

### Question 4: 
Which of the one is true about Heteroskedasticity?
### Answer
Linear Regression with varying error terms

### Question 5: 
Generally, which of the following method(s) is used for predicting continuous dependent variables?
1. Linear Regression
2. Logistic Regression
### Answer
1 only

### Question 6: 
From the following options below, which of these is/are true about “Ridge” or “Lasso” regression methods in case of feature selection?
### Answer
Both use subset selection of features

### Question 7: 
Which of the following sentences is/are true about outliers in Linear Regression:
### Answer
Linear regression is sensitive to outliers

### Question 8: 
Which of the following metrics can be used for evaluating regression models?
### Answer
1, 2, 3 and 4

### Question 9: 
A best fit line relating X and Y has a R-Squared value of 0.75. How do I interpret this information?
### Answer
75% of the variance in Y is explained by X

The model is performing with 75% accuracy

### Question 10: 
Which of the following measures is optimal for comparing the goodness of the fit of competing regression models involving the same dependent variable?
### Answer
R-square

### Question 11: 
The Lasso can be interpreted as least-squares linear regression where:
### Answer
Weights are regularized with the L1 norm

### Question 12: 
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?
### Answer
0.64

In [73]:
from statsmodels.compat import lzip
import statsmodels.api as sm
from statsmodels.formula.api import ols

X1 = df.T2
y1 = df.T6

# fitting the model
Lr_model1 = ols("T6 ~ T2", data=df).fit()

# model summary
Lr_model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     T6   R-squared:                       0.642
Model:                            OLS   Adj. R-squared:                  0.642
Method:                 Least Squares   F-statistic:                 3.537e+04
Date:                Tue, 06 Dec 2022   Prob (F-statistic):               0.00
Time:                        01:13:42   Log-Likelihood:                -53524.
No. Observations:               19735   AIC:                         1.071e+05
Df Residuals:                   19733   BIC:                         1.071e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -37.3495      0.242   -154.306      0.000     -37.824     -36.875
T2             2.2251      0.012    188.073      0.000       2.202       2.248
==============================================================================
Omnibus:                      842.252   Durbin-Watson:                   0.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              964.072
Skew:                          -0.510   Prob(JB):                    4.51e-210
Kurtosis:                       3.365   Cond. No.                         191.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### Question 13: 
Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?
### Answer
0.05

In [76]:
df2 = df.drop(['date','lights'], axis=1)

In [77]:
from sklearn.preprocessing import MinMaxScaler

trans = MinMaxScaler()
data = trans.fit_transform(df2)

In [79]:
df3 = pd.DataFrame(data)
df3.columns = df2.columns
df3.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [80]:
# Train-Test Split
from sklearn.model_selection import train_test_split  

X = df3.drop(["Appliances"], axis=1)
y = df3["Appliances"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [81]:
# LR Model
from sklearn.linear_model import LinearRegression 

Lr_model = LinearRegression()  
Lr_model.fit(X_train, y_train) 

print("Linear Regession Score (R2) is: " + str(Lr_model.score(X_test, y_test)))

Linear Regession Score (R2) is: 0.14890246319303535

In [82]:

# Predictions
y_pred = Lr_model.predict(X_test)

In [97]:
# Evaluation metrics
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

mae = mean_absolute_error(y_true=y_test, y_pred=y_pred)
print("MAE:",mae)

MAE: 0.050133623977429535

### Question 14:
What is the Residual Sum of Squares (in two decimal places)?
### Answer 
45.35

In [85]:
print(' residual sum of squares is : '+ str(np.sum(np.square(y_test - y_pred))))

 residual sum of squares is : 45.34762967266377

### Question 15:
What is the Root Mean Squared Error (in three decimal places)?
# Answer 
0.088

In [86]:
rmse = mean_squared_error(y_true=y_test, y_pred=y_pred, squared=False)
print("RMSE:",rmse)

RMSE: 0.0875144494766171

### Question 16
What is the Coefficient of Determination (in two decimal places)?
### Answer
0.15

In [87]:
r2 = r2_score(y_test, y_pred)
print("R2:",r2)

R2: 0.14890246319303535

### Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?
### Answer
RH_2, RH_1

In [88]:
def get_weights_df(model, feat, col_name):
  """
  This function returns the weights of the selected features
  """
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['features', col_name]
  weights_df[col_name].round(3)
  return(weights_df)

In [89]:

linear_model_weights = get_weights_df(Lr_model, X_train, 'Linear_Model_Weight')
linear_model_weights

       features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

### Question 18
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?
### Answer
no

In [90]:
from sklearn.linear_model import Ridge

Ridge_model = Ridge(alpha=0.4)
Ridge_model.fit(X_train, y_train)

print("Ridge Regession Score (R2) is: " + str(Ridge_model.score(X_test, y_test)))

Ridge Regession Score (R2) is: 0.14852493545092593

In [95]:
R_pred = Ridge_model.predict(X_test)
rmse = mean_squared_error(y_true=y_test, y_pred=R_pred, squared=False)
print("Ridge RMSE:",rmse)

Ridge RMSE: 0.08753385704628003

### Question 19

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?
### Answer
4

In [92]:
from sklearn import linear_model

Lasso_model = linear_model.Lasso(alpha=0.001)
Lasso_model.fit(X_train, y_train)

print("Lasso Regession Score (R2) is: " + str(Lasso_model.score(X_test, y_test)))

Lasso Regession Score (R2) is: 0.026800880567125818

In [93]:
Lasso_pred = Lasso_model.predict(X_test)
lasso_weights_df = get_weights_df(Lasso_model, X_train, 'Lasso_weight')
lasso_weights_df

       features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

### Question 20
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)
### Answer
0.094

In [94]:
rmse = mean_squared_error(y_true=y_test, y_pred=Lasso_pred, squared=False)
print("Lasso RMSE:",rmse)

Lasso RMSE: 0.09358170467245137