## Stage A Graded Quiz - HDSC Fall 22 intern

**African food
 production Dataset**

### Data Assessment & Cleaning

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv("Food_Africa.csv", encoding = "latin-1", on_bad_lines='skip')

In [ ]:
data.head(3)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [ ]:
data.duplicated().sum()

0

In [ ]:
df = data.drop_duplicates().dropna()

In [ ]:
df.head(3)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0


### We'll use the df named data
- Q1: Answer is **Set**
- Q2: Answer is **173.05**

In [ ]:
Madagascar_df = data[data["Area"] == "Madagascar"]
Madagascar_df.groupby("Element")["Y2015"].sum()

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

- Q3: Answer is **pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])**

In [ ]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']
pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

- Q4: Answer is **49**

In [ ]:
 data.Area.nunique()

49

- Q5: Answer is **2016**

In [ ]:
data.corr()

<ipython-input-62-c44ded798807>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

- Q6: Answer is **292836.00**

In [ ]:
data.groupby("Element")["Y2017"].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

- Q7: Answer is **1589 and 2.607%**

In [ ]:
data.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
(data['Y2014'].isna().sum()/data.shape[0])*100

2.6073544131401474

- Q8: Answer is **Math**
- Q9: Answer is **x = y[1][1]**

In [ ]:
y = [(2,4),(7,8),(1,5,9)]
x = y[1][1]
x

8


- Q10: Answer is **df.shape**
- Q11: Answer is **Type error**

In [ ]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: ignored

- Q12: Answer is **3 features, 100 observations**
- Q13: Answer is **array[:2,1:]**

In [ ]:
array = np.array([[94, 89, 63],
                 [93, 92, 48],
                 [92, 94, 56]])

array[:2,1:]

array([[89, 63],
       [92, 48]])

- Q14: Answer is **'e'**

In [ ]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

- Q15: Answer is **Guinea-Bissau**

In [ ]:
data.groupby("Area")["Y2017"].sum().sort_values(ascending = True).head(7)

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

- Q16: Answer is **2014**

In [ ]:
data.groupby("Element")[["Y2014","Y2015","Y2016","Y2017"]].sum().tail()

                                    Y2014       Y2015       Y2016       Y2017
Element
Residuals                        30149.00    30045.00    37224.00    35500.00
Seed                             21922.92    23976.82    23389.20    24870.14
Stock Variation                  58749.83    34910.99    33140.12    54316.91
Total Population - Both sexes  1031585.00  1058081.00  1085107.00  1112641.00
Tourist consumption                416.00      349.00       89.00       91.00

- Q17: Answer is **Nigeria**

In [ ]:
data.groupby("Area")["Y2017"].sum().sort_values(ascending = False).head(3)

Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Name: Y2017, dtype: float64

- Q18: Answer is **4251.81 and 4039.32**

In [ ]:
data.groupby("Item")["Y2015","Y2018"].sum().tail()

<ipython-input-41-26cadadf5e6e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby("Item")["Y2015","Y2018"].sum().tail()

                        Y2015      Y2018
Item
Vegetables, Other   158104.08  163987.21
Vegetal Products    107064.17  107775.39
Wheat and products  234710.51  242645.19
Wine                  4251.81    4039.32
Yams                203151.78  221272.09

- Q19: Answer is **df.iloc[ : ]**
- Q20: Answer is **140.92 and 1671.86**

In [ ]:
print(f"mean:" + str(data.Y2017.mean()) + ", std:" + str(data.Y2017.std()))

mean:140.9177648602722, std:1671.8623590567995